<html>
    <head>
    </head>
    <body>
	<h1>{{ .Title }}</h1>
	<button type="button" onclick="reload()">Reload</button>
	<br><br>
	<audio id="control" controls>
	    <source src="" type="audio/mpeg">
	    Your browser does not support the audio element.
	</audio>
	<ul>
	{{ range .Songs }}
	    <li>{{.}}</li>
        {{ end }}
	</ul>
	<script>
	 // Pass array of songs loaded by Go
	 //var playlist = ["media/sample1.mp3", "media/sample2.mp3"]
	 var playlist = [];
	 {{ range .Paths }}
	 playlist.push({{ . }});
	 console.log({{ . }});
	 {{ end }}
	 //console.log(playlist);
	 var aud = document.getElementById("control");
	 // TODO: Add skip controls
	 aud.src = playlist[0];
	 aud.play();
	 aud.onended = function() {
	     playlist.shift();
	     // TODO: Keep copy for replaying?
	     aud.src = playlist[0];
	     aud.load();
	     aud.play();
	 };
	 function reload() {
	   location.reload();  
	 }
	</script>
    </body>
</html>
