<html>
    <head>
	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<title>{{ .Owner }}'s Collection</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet">	
    </head>
    <body>
	<div class="container" >
	    <h1 style="margin-top:5%">{{ .Owner }}'s Collection</h1>
	    <hr>
	    <div class="row">
		<div class="col-sm-6">
		    <ul class="list-group">
			<a class="list-group-item disabled" href="#" >
			    Music</a>
			{{ range .Albums }}
			<a class="list-group-item" href=/listen/{{.Title}}>
			    <span class="tag tag-default tag-pill pull-xs-right">
				{{ .Count }}
			    </span>
			    {{ .Title }}</a>
			{{ end }}
		    </ul>
		</div>
		<div class="col-sm-6">
		    <ul class="list-group">
			{{ range .Genres }}
			    {{ $genre := .Title }}
			<a class="list-group-item disabled" href=#>
			    {{ .Title }}</a>
			    {{ range .Albums }}
			    <a class="list-group-item" href=/listen/{{ $genre }}/{{ .Title }}>
			        {{ .Title }}
				<span class="tag tag-default tag-pill pull-xs-right">
				    {{ .Count }}
				</span>
			    </a>
   			    {{ end}}
			{{ end }}
		    </ul>
		</div>
	    </div>
	    <a href="https://github.com/polypmer/barnacle">Source Code</a>
	</div>
    </body>
    <!-- Bootstrap core JavaScript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
	src="https://code.jquery.com/jquery-2.2.4.min.js"
	integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>	
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>

</html>
